/listing
/*.dep
/*.bak
/*.uvopt
/Objects/*.o
/Objects/*.crf
/Objects/*.d
/Objects/*.axf
/Objects/*.htm
/Objects/*.lnp
/Objects/*.sct
/Objects/*.Bak
/Objects/*.iex
/*.БубниковИН
/*.analog
output

unused
/Debug/

/Release/
